/* bar chart */
.bar {
	fill: #9ecae1;
}
.bar:hover {
	fill: #3182bd !important;
}

/* line chart */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlayLine {
  fill: none;
  pointer-events: all;
}

.focus {
  font-size: 14px;
}

.focus circle {
  fill: none;
  stroke: black;
  stroke-width:1px;
  opacity:0.5;
}

.xaxis line{
  opacity: 0.25;
}

.xaxis path{
  opacity: 0.25;
}

.xaxis text{
  font-family:'Chivo';
  fill: black;
}

.yaxis line{
  opacity: 0.25;
}

.yaxis path{
  opacity: 0.25;
}

.yaxis text{
  font-family:'Chivo';
  fill: black;
}

.y4 {
  font-family:'Chivo';
  font-weight: 400;
  font-size:10px;
}

.y3 {
  font-family:'Chivo';
  font-weight: 400;
  font-size:10px;
}

/* waffle */

#filter ul {
    color: #130C0E;
    font-size: 11px;
    letter-spacing: 1px;
    list-style: none;
    padding: 0;
    margin: 20px 20px 20px 20px;
}
#filter ul li {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 1px;
    background: none;
    border: solid #A9A9A9 0.5px;
    cursor: pointer;
    font-family: 'Chivo';
}
#filter ul li:hover {
    background: #DCDCDC;
}

/* map */

.states {
  fill: #ccc;
  stroke: #fff;
}
.slidecontainer {
    width: 100%;
}

.slider {
  position:relative;
  left:200px;
    -webkit-appearance: none;
    width: 600px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #838383;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #838383;
    cursor: pointer;
}

.circle {
  fill: steelblue;
  fill-opacity: .6;
  stroke-width:0.5;
  stroke: #fff;
}

.circle:hover {
  stroke: #000;
  fill:orange;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

div.tooltipMap {   
  position: absolute;           
  text-align: center;           
  width: 100px;                  
  height: 30px;                 
  padding: 2px;            
  font: 12px Chivo;
  font-weight:300;
  color: black;
  background-color: rgba(255,0,0,0.9);        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
